<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Ui_Tests.landing_page"/>
<!--<class name="com.myproject.utils.BaseWebTest"/> -->      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
